
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpgradeLog.htm
UpgradeLog.htm
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
UpgradeLog.htm
/.vs/StationeryManagementSystem/v17
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
/.vs/StationeryManagementSystem/v17
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpgradeLog.htm
.vs/StationeryManagementSystem/v17/.suo
