
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpgradeLog.htm
UpgradeLog.htm
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
UpgradeLog.htm
/.vs/StationeryManagementSystem/v17
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/v17/.suo
/.vs/StationeryManagementSystem/v17
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpgradeLog.htm
.vs/StationeryManagementSystem/v17/.suo
.vs/StationeryManagementSystem/FileContentIndex/3cedeccf-83af-4d9e-a5d7-8d772558c20d.vsidx
.vs/StationeryManagementSystem/FileContentIndex/6c8ccbb1-d789-426d-8036-e366df40bfb9.vsidx
.vs/StationeryManagementSystem/v17/.suo
StationeryManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs
*.pdb
*.exe
/StationeryManagementSystem/bin
/StationeryManagementSystem/obj
/StationeryManagementSystem/obj/Debug
*.cache
StationeryManagementSystem/obj/Debug/StationeryManagementSystem.csproj.AssemblyReference.cache
/.vs
